version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: dockerfile
    container_name: backend-container
    ports:
      - "5000:5000"
    environment:
        PORT: 5000
        MONGO_URI: "mongodb://mongo:27017/mydatabase"  # mongo is the service name
    depends_on:
      - mongo
    networks:
      - mern-app-network

  mongo:
    image: mongo:latest
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-app-network
    environment:
      MONGODB_INIT_USERNAME: "admin"
      MONGODB_INIT_PASSWORD: "password"
  
  client:
    build:
      context: ./client
      dockerfile: dockerfile
    container_name: frontend-container
    ports:
      - "80:80"
    
    depends_on:
      - server
    networks:
      - mern-app-network
    
    environment:
      - REACT_APP_API_URL=http://server:5000/api
      
volumes:
  mongo-data:

networks:
  mern-app-network:
    driver: bridge